<%= form_for(@resume_entry_type) do |f| %>
  <div class="field">
  	<%= f.label :description %>
  	<%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>