<p>
	Thank you for signing up for the <%= @newsletter_sign_up.category.titleize %> newsletter. This is just a confirmation e-mail to let you know that we have successfully received your sign up and you will be getting e-mails from us.
</p>

<p>
	Thanks again!
</p>

<p>
	Sincerely, Casey Li
</p>