/* General Elements */

body {
	background-color: #000000;
	background-image: url("/images/JobApp/TopBanner.png");
	background-position: center top;
	background-repeat: no-repeat;
	
	font-family: "Arial";
}

.container {
	margin: 224px auto;
	width: 900px;
	border-radius: 50px;
	
	padding: 0px 0px 50px 0px;
	background-color: #FFFFFF;
}

.center {
	display: block;
	text-align: center;
}

p {
	padding: 5px 0 0px 0;
}

.section-header {
	padding: 20px 0 2px 0;
	background-color: #587a9b;
}

.section-body {
	padding: 50px 0px;
}

a {
	border: none;
	color: #888888;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

/* Tables */

table {
	margin: 0 auto;
	border-style: none;
	border-spacing: 2px;
}

table tr td {
	padding: 0px 0px 0px 0px;
	border-style: none;
}

table tr td img {
	margin-top: 3px;
}

table.experience {
	margin: 0 auto;
}

table.experience tr td img {
	width:200px;
}

/* Modal Dialogs */

table.dialog tr td {
	vertical-align: top;
	font-size: 0.8em;
}

.modal-dialog-body h1 {
	font-size: 1em;
}

.mission {
	padding-top: 0px;
}

.portfolio-item {
	display: block;
	width: 163px;
	height: 149px;
}

.portfolio-item:hover {
	background-position: 0 0;
}

.capo-button {
	background: url('/images/JobApp/Capo.png') bottom;	
}

.md-button {
	background: url('/images/JobApp/MarilynAndDouglas.png') bottom;	
}

.wwwp-button {
	background: url('/images/JobApp/wwwp.png') bottom;	
}

.caseyli-button {
	background: url('/images/JobApp/caseylicom.png') bottom;	
}

.teldio-button {
	background: url('/images/JobApp/Teldio.png') bottom;
}

.rbx-button {
	background: url('/images/JobApp/RBX.png') bottom;
}

.sidexside-button {
	background: url('/images/JobApp/SideXSide.png') bottom;
}

.graphics-button {
	background: url('/images/JobApp/Graphics.png') bottom;
}

.teldio-video-button {
	background: url('/images/JobApp/TeldioVideo.png') bottom;
}

.northstar-video-button {
	background: url('/images/JobApp/NorthstarVideo.png') bottom;
}

.photos-button {
	background: url('/images/JobApp/Photos.png') bottom;
}

.modal-dialog {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:4000px;
    z-index: 1000;
    background-image: url("/images/JobApp/background-trans.png");
}

.modal-dialog-body{
	position:fixed;
	width:500px;
	left: 50%;
    margin: 200px -265px;
    background-color: #EEEEEE;
    border:3px solid #330000;
    padding:15px;
    border-radius: 10px;
    color: #111;
}

.vimeo-video-modal-dialog-body {
	width: 600px;
	left: 50%;
	margin: 100px -315px;	
}

.youtube-video-modal-dialog-body {
	width: 775px;
	left: 50%;
	margin: 100px -403px;	
}

.skills-grid-body{
	position:fixed;
	width:750px;
	top: 50%;
	left: 50%;
	margin: -300px -390px;
    background-color: #EEEEEE;
    border:3px solid #330000;
    padding:15px;
    color: #111;
}

.cover-letter-body{
	
	background-image: url("/images/JobApp/coverletterheader.png");
	background-color: #FFFFFF;
	background-position: center top;
	background-repeat: no-repeat;
	
	position:relative;
	width:750px;
	left: 50%;
	margin: 300px -435px;
    border: 10px inset;
    border-color:#447744;
    padding:50px;
    color: #111;
    font-size: 0.9em;
}

.cover-letter-body a {
	font-weight: bold;
	color: #000000;
}

.basics-links {
	width: 200px;
	padding: 0 10px 0 10px;
}

.skill {
	float: left;
	width: 110px;
	padding: 10px;
	margin: 10px;
	background-color: #333333;
	color: #fff;
}

.skill-close {
	background-color: #AA0000;	
}

.my-skills {
	font-size: 2em;
	font-weight: bold;
}

.no-underline {
	text-decoration: none;
}

.top-contact {
	margin-left: 150px;
	color: #888888;
	font-size: 1.2em;
}

