.container {
	width: 710px;
	margin:0 auto;
}

body {
	background: #aaa;
	font-size:75%;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
	padding-top: 20px;
}

header img {
	padding: 0.2em;
}

section h1 {
	font-size: 200%;
}

/* Links */
a {
	
}

/* Home Page */
img.rotatorimage {
	padding: 1em;
}

/* Navigation */

nav {
	float: left;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

nav ul li a:visited {
	color: white;
}

nav ul li a:hover {
	color:#fff;
	text-decoration: underline;
}