<div class="newsletter-sign-ups-edit">
  <div class="container">
    
    <h1>Editing Newsletter sign up</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @newsletter_sign_up %> |
    <%= link_to 'Back', newsletter_sign_ups_path %>
  </div>
</div>
