<div class="pages-admin">
  <div class="container">
    <ul>
      <li><%= link_to "Resume Entry Types", resume_entry_types_path %></li>
      <li><%= link_to "Resume Entries", resume_entries_path %></li>
      <li><%= link_to "Resume Entry Notes", resume_entry_notes_path %></li>
      <li><%= link_to "Newsletter Signups", newsletter_sign_ups_path %></li>
    </ul>
    
  </div>
</div>