<div id="pages-home">

	<div class="container">
		<div class="hero-logo"><%= image_tag "logo.png" %></div>
		<hr>
		<div class="sections">

			<% @sections.each do |section| %>
				<%= link_to section[:url], class: 'section' do %>
					<div class="title"><%= section[:title ] %></div>
					<div class="description"><%= section[:description] %></div>
					<div class="clear"></div>
				<% end %>
			<% end %>
		</div>
		
	</div>
	
</div>