<div class="hero-logo"><%= image_tag "logo.png" %></div>
<hr>
<ul class="landing-list">
	<a href="http://www.bitesite.ca" target="_blank">
		<li>
			<table>
				<tr>
					<td class="header">bitesite</td>
					<td>ottawa-based web design and web development studio dedicated to producing simple yet elegant
						web sites and web applications.
						
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="/pages/home">
		<li>
			<table>
				<tr>
					<td class="header">main</td>
					<td>caseyli.com's main portal. view everything you need to know about casey li including
						resume, work experience, skills, portfolio and more.
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="/videos">
		<li>
			<table>
				<tr>
					<td class="header">videos</td>
					<td>various videos including tutorials on git, rails development and more
						
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="http://cli23.blogspot.com" target="_blank">
		<li>
			<table>
				<tr>
					<td class="header">blog</td>
					<td>my blog where I have various posts about solving technical issues from programming,
						to film equipment, to things like the nest thermostat
						
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="/tutorails" target="_blank">
		<li>
			<table>
				<tr>
					<td class="header">tutorails</td>
					<td>comprehensive course on web development using ruby on rails taught in ottawa, canada
						
					</td>
				</tr>
			</table>
		</li>
	</a>
</ul>