<h1>caseyli</h1>
<ul class="landing-list">
	<a href="/pages/home">
		<li>
			<table>
				<tr>
					<td class="header">main</td>
					<td>caseyli.com's main portal. view everything you need to know about casey li including
						resume, work experience, skills, portfolio and more.
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="http://www.bitesite.ca">
		<li>
			<table>
				<tr>
					<td class="header">bitesite</td>
					<td>ottawa-based web design and web development studio dedicated to producing simple yet elegant
						web sites and web applications.
						
					</td>
				</tr>
			</table>
		</li>
	</a>
	<a href="/videos">
		<li>
			<table>
				<tr>
					<td class="header">videos</td>
					<td>various videos including tutorials on git, rails development and more
						
					</td>
				</tr>
			</table>
		</li>
	</a>
</ul>