<div class="container" id='pages-talks-to-people'>
  <h1>Casey talks to people</h1>

  <%= image_tag 'casey-talks-to-people.jpg', class: 'album-art' %>
  <p>a podcast where casey talk to people</p>

  <p>Coming soon and available through your favourite podcast app.</p>

  <p>If you'd like to get in touch, e-mail Casey at <%= link_to 'casey.li@gmail.com', 'mailto:casey.li@gmail.com' %></p>
</div>