<h1>University of Ottawa SEG2900</h1>

<%= link_to "Course Slides", "https://docs.google.com/presentation/d/1dC-IEpPy4c9-FbBw02gPP4Jk8mR7z8V4OsBUqjLXmm4/edit?usp=sharing" %><br />
<%= link_to "Course Document", "https://docs.google.com/document/d/1VIRGBNkuxufTYp6LB7z-49jgfLDB_5UfqhSwarohcMQ/edit?usp=sharing" %><br />
<%= link_to "Course Sample Solution", "https://github.com/uottawa-seg1911-web/uottawa-seg1911-web.github.io
" %><br />
<%= link_to "Course Sample Pitch", "https://docs.google.com/presentation/d/1Vn9iCh6ip5FjZwktz02Gy0bFBl_tkRSiVo2IRYXEnPE/edit?usp=sharing" %><br />