body {
	
	background:url(/assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: Rokkitt;
}

h1 {
	font-size: 50px;
	font-weight:bold;
	border-bottom: 1px solid;
	border-color: #BBB;
	color:#fff;
}

.hero-logo {
	text-align:center;
	margin:50px 0px;
	
	img {
		width:100%;
	}
}

.landing-list {
	list-style:none;
	padding-left:0px;
	
	a{
		color:white;
		font-size: 20px;
		text-decoration:none;
		li {
			padding: 20px;
			border-radius: 20px;
			transition: 200ms;
			-moz-transition: 200ms; /* Firefox 4 */
			-webkit-transition: 200ms; /* Safari and Chrome */
			-o-transition: 200ms; /* Opera */
			
			td.header {
				width: 200px;
				font-size: 60px;
			}
			
			&:hover{
				color:#EEE;
				background:black;
			}

		}
	}
	
}