#landing {

	font-family:Rokkitt;
	.content {
		position:fixed;
		left:0;
		top:0;
		height:100%;
		width:100%;
		background:#AD1637;
		text-align:center;
	}

	#logo-animation {
		margin:30px auto;

		width:30%;
		max-width:500px;
		height:25%;
		max-height:300px;
		overflow:hidden;

		.top {
			height:10px;
		}

		.middle {
			height:calc(100% - 20px);

			#scroll-bar-left {
				width:10px;
				float:left;
			}

			#logo {
				width:calc(100% - 20px);
				float:left;
				overflow:hidden;

				img {
					position:relative;
					left:-200px;
					top:-50px;
					
				}	
			}

			#scroll-bar-right {
				width:10px;
				float:left;
			}
		}

		.bottom {
			height:10px;
		}

		.scroll-bar-vertical-container {
			height:100%;
			width:10px;
			background:#fff;

			.scroll-bar-vertical {
				width:100%;
				height:0%;
				background:#bbb;
			}
		}

		.scroll-bar-horizontal-container {
		  width:100%;
		  margin:0 auto;
		  height:10px;
		  background:#fff;

		  .scroll-bar-horizontal {
		    width:0%;
		    height:100%;
		    background:#bbb;
		  }
		}

		#scroll-bar-top {
			.scroll-bar-horizontal {
				float:right;
			}
		}

		#scroll-bar-right {
			background:#bbb;
			.scroll-bar-vertical {
				background:#fff;
				height:100%;	
			}
		}
	}

	#scrolling-content {
		margin:0 auto;
		height:200px;
		width:80%;
		overflow:hidden;
		position:relative;

		.scroll-down {
			position:relative;
			width:100%;
			height:100%;
			font-family:Rokkitt;
			font-size:3em;

			img {
				margin-top:20px;
				width:50px;
			}
		}

		.menu-items {
			width:500%;
			position:relative;
			height:100%;
			

			a.menu-item {
				height:calc(100% - 60px);
				width:calc(20% - 61px);
				float:left;
				text-align:left;
				padding:30px;
				text-decoration:none;
				color:white;
				border-right:1px solid white;

				&:last-child {
					border-right:none;
				}



				.header {
					font-size:3em;
				}

				.description {
					font-size:2em;
				}

				.button {
					display:inline-block;
					background:white;
					color:#AD1637;
					padding:10px;
					margin:5px 0;
					font-size:1.5em;
				}

				&:hover {
					color:#999;

					.button {
						background:#999;
					}
				}
			}
		}
	}

	#contact {
		text-align:center;
		position:fixed;
		width:100%;
		bottom:0;
		background:#eee;
		color:black;
		font-size:1.5em;
	}



	.scrollbox {
		height:6000px;
	}
}