$pale-blue:#ABCCDB;

body {
    margin:0;
    padding:0;
    position:relative;
    
    &.fixed-nav {
        padding-top:98px;
    }
}

a {
    color:#277D99;
    font-weight:bold;
    
    &:hover {
        color:black;
    };
}

.google-links {
    text-align:center;
    margin-bottom: 20px;
    .google-button {
        display:inline-block;
        padding:10px 20px;
        background:$pale-blue;
        border-radius:30px;
        color:#222;
        text-decoration:none;
        font-family:"Arial", sans-serif;
        font-weight:normal;
    
        &:hover {
            background:black;
            color:$pale-blue;
        
        };
    }
}

.container {
    margin:0 auto;
    width:960px;
}

.section {
    padding:30px 0;
    width:100%;
    
    .section-header {
        font-size:3em;
        text-align:center;
        font-family:"Istok Web", sans-serif;
        font-weight:700;
    }
    
    .section-blurb {
        font-family:"Arial", sans-serif;
        margin:0 auto;
    }
    
    .featured-image {
        text-align:center;
        margin:20px 0;
    }
}

.hero-section {
    text-align:center;
    .hero {
        margin:30px 0;
        width:600px;
        
    }
    
    .hero-title {
        font-family:'Istok Web', sans-serif;
        font-weight:700;
        font-size:5em;
        color:#444;
        
        .rails {
            color:#47587C;
        }
    }
    
    .hero-blurb {
        font-family:'Arial', sans-serif;
        font-style:italic;
        font-size:1.5em;
        width:60%;
        margin:30px auto;
        color:#333;
    }
}

.nav-bar {
    text-align:center;
    background:#222;
    a {
        display:inline-block;
        text-decoration:none;
        font-family: "Arial";
        border-radius: 20px;
        color:white;
        margin:0 10px;
        padding:10px 30px;
        
        &:hover {
            background:white;
            color:black;
        };
    }
}

.nav-bar-fixed {
    position:fixed;
    top:0;
    left:0;
}

.nav-selected {
    background:#444;
}

.general-section {
    background:#eee;
    
    .where-are-we {
         width:70%;
         font-family:"Istok Web", sans-serif;
         margin: 20px auto;
         padding: 10px 10px;
         border-radius:30px;
         background:#333;
         color:#EEE;
         text-align:center;
     }

     .google-links {
         text-align:center;
         margin-bottom: 20px;

         .google-button {
             width:270px;
         }

     }



     .sign-up {
         text-align:center;
         font-family:"Istok Web", sans-serif;
         border:1px solid #eee;
         border-radius:10px;
         width:500px;
         padding:20px;
         margin:0 auto;
         background:#ddd;
         .sign-up-form {
             margin: 20px 0;

             #email {
                 padding:10px;
                 font-size:10px;
                 width:300px;
             }

             .tutorails-sign-up-submit {
                 margin-top:10px;
                 display:inline-block;
                 background:#579099;
                 border:1px solid white;
                 padding:5px 20px;
                 text-decoration:none;
                 color:white;

                 &:hover {
                     background:#fff;
                     color:black;
                     border-color:#579099;
                 };
             }
         }        
     }
}

.info-section {
    background:#fff;
    
    .info-image {
        width:50%;
    }
}

.curriculum-section {
    background:#333;
    color:#ddd;
    
    table.schedule {
        font-family:"Arial";
        width:100%;

        thead {
            tr {
                th {
                    padding:10px;  
                    text-align:left;
                    background:white;
                    color:#333; 
                }
            }
        }

        tbody {
            tr {
                td {
                    padding:10px;   
                    vertical-align:top;
                }
            }    
        }
        


    }
}

.contact-section {
    background:#ddd;
    color:#333;
    text-align:center;
    
    img {
        width:200px;
    }
    
    .who-is-this-guy {
        margin:20px auto;
        width:600px;
    }
}

.course-list {
    list-style:none;
    li {
        margin:20px 0;
        font-weight:bold;
    }
    
    ul {
        list-style:none;
        border-left:1px solid;
        padding-left:10px;
        margin-bottom:40px;
        li {
            font-weight:normal;
            margin:10px 0;
        }
    }
}