$pale-blue:#ABCCDB;
$primary-aqua:#579099;
$primary-aqua-dark:#447078;

body {
    margin:0;
    padding:0;
    position:relative;
    
    &.fixed-nav {
        padding-top:38px;
    }
}

a {
    color:$primary-aqua;
    
    &:hover {
        color:$primary-aqua-dark;
    };
}

.btn {
    display:inline-block;
    padding:10px 20px;
    background:$primary-aqua;
    border:1px solid $primary-aqua;
    font-size:1em;
    margin:10px 10px;
    text-align:center;
    color:white;
    text-decoration:none;
    font-family:"Istok Web", sans-serif;
    font-weight:200;

    &:hover {
        background:$primary-aqua-dark;
    }
}

.container {
    margin:0 auto;
    max-width:960px;
    width:calc(100% - 40px);
    padding:0 20px;
}

.nav-bar {
    width:100%;
    text-align:right;
    background:#fff;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    box-shadow:0 0 5px black;

    a {
        border-top:5px solid transparent;
        display:inline-block;
        text-decoration:none;
        font-family:"Istok Web", sans-serif;
        color:#aaa;
        padding:20px 30px;
        font-weight:200;
        
        &.nav-selected {
            border-top:5px solid #999;
        }

        &:hover {
            border-top:5px solid #666;
        };
    }
}


.section {
    padding:20px 0;
    width:100%;
    font-family:"Istok Web", sans-serif;
    line-height:2em;
    
    h1 {
        font-size:2em;
        text-align:left;
        font-family:"Istok Web", sans-serif;
        font-weight:400;
        border-bottom:1px solid #ddd;
        margin:50px 0;
    }
    
}

.hero-section {
    text-align:center;

    .hero {
        margin:80px 0 30px 0;
        max-width:600px;
        width:100%;
    }
    
    .hero-title {
        font-family:'Istok Web', sans-serif;
        font-weight:700;
        font-size:5em;
        color:#444;
        
        .rails {
            color:#47587C;
        }
    }
    
    .hero-blurb {
        font-family:'Arial', sans-serif;
        font-style:italic;
        font-size:1.5em;
        width:60%;
        margin:30px auto;
        color:#333;
    }
}




.general-section { 
    color: #333;
    padding-bottom:20px;

    .where-are-we {
         width:100%;
         font-family:"Istok Web", sans-serif;
         margin: 20px auto;
         padding: 10px 0px;
         border-radius:10px;
         background:#ddd;
         color:#222;
         text-align:center;
     }

     .google-links {
         text-align:center;
         margin-bottom: 20px;

         .google-button {
             width:270px;
         }

     }



     .sign-up {
         text-align:center;
         font-family:"Istok Web", sans-serif;
         border:1px solid #eee;
         border-radius:10px;
         width:100% ;
         padding:20px 0;
         margin:0 auto;
         .sign-up-form {
             margin: 20px 0;

             #email {
                 padding:10px;
                 font-size:10px;
                 width:300px;
             }
         }        
     }
}

.curriculum-section {
    
    table.schedule {
        font-family:"Arial";
        width:100%;
        border-collapse:collapse;
        thead {
            tr {
                th {
                    padding:10px;  
                    text-align:left;
                    background:#eee;
                    color:#333; 
                }
            }
        }

        tbody {
            tr {
                td {
                    border:1px solid #eee;
                    padding:10px;   
                    vertical-align:top;
                }
            }    
        }
    }
}

.contact-section {
    text-align:justify;
    
    img {
        max-width:200px;
        width:40%;
        float:left;
        margin-right:30px;
    }
    

    .about-me-links {
        text-align:center;
        margin:10px;
    }
}