<table class="footertable">
	<tr>
		<td><%= link_to "Download PDF Resume", "/Casey Li - Resume.pdf" %></td>
	</tr>
	<tr>
		<td>Copyright (C) Casey Li, 2011</td>
	</tr>
	<tr>
		<td>Powered by Ruby on Rails</td>
	</td>
<table>