<% if signed_in? %>
  <div class='signed-in-banner'>
    <div class="container">
      Signed in!
      <%= link_to "Admin", admin_path %>
      <%= link_to "Sign out", controller: :sessions, action: :destroy %>
    </div>
  </div>
<% end %>