<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <title>caseyli.com</title>
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
      <link rel="stylesheet" href="iui/iui.css" type="text/css" />
   	  <link rel="stylesheet" href="iui/t/default/default-theme.css" type="text/css"/>
      <script type="application/x-javascript" src="iui/iui.js"></script>
      <%= stylesheet_link_tag 'iphone' %>
    </head>

    <body>
		<div class="toolbar">
			<h1 id="pageTitle">caseyli.com</h1>
			<a id="backButton" class="button" href="#"></a>
		</div>
		
      	<!-- MAIN MENU -->
		<ul id="home" title="caseyli.com" selected="true">
   			<li><a href="#skills">Skills</a></li>
      		<li><a href="#work">Work</a></li>
      		<li><a href="#education">Education</a></li>
      		<li><a href="#hobbies">Hobbies</a></li>
      		<li><a href="#pdf">PDF</a></li>
      		<li><a href="#contact">Contact</a></li>
      		<li><a href="#about">About</a></li>
		</ul>
		
		<!-- SKILLS -->
		<div id="skills" title="Skills" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- WORK -->
		<div id="work" title="Work" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- EDUCATION -->
		<div id="education" title="Education" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- HOBBIES -->
		<div id="hobbies" title="Hobbies" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- PDF -->
		<div id="pdf" title="PDF" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- CONTACT -->
		<div id="contact" title="Contact" class="panel">
			<h2>Coming Soon!</h2>
		</div>
		
		<!-- ABOUT -->
		<div id="about" title="About" class="panel">
			<h2>Coming Soon!</h2>
		</div>
      
    </body>
    </html>